// Layout variables partial

$section-padding: 40px 0;

section#intro, section#dress-code, section#map, section#parking, #footer {
	background: $section-light;
}
section#events, section#honeymoon, section#rsvp {
	background: $section-dark;
}